.detail-thumbnail {
    width: 100%;
    margin: 0.5rem 0;
    @media only screen and (min-width: 720px) {
        width: 50%;
        margin: 0.25rem 0;
    }
}

.detail-rate-icon {
    padding-left: 0.5rem;
}