// Overide the class of ReactModal lib
.exception {
    height: 10vh;
    background: lightgrey;
    opacity: 1;
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    border-radius: 5px;
    @media only screen and (min-width: 720px) {
        width: 80%;
        margin: 7rem;
    }
}