.list-group-item a:focus, .list-group-item a:hover {
    z-index: 0;
    text-decoration: none;
}

.thumbnail {
    width: 100%;
    margin: 0.5rem 0;
    @media only screen and (min-width: 720px) {
        width: 50%;
        margin: 0.25rem 0;
    }
}